.Rproj.user
.Rhistory
.RData
.Ruserdata
temp/
*.qs
svg/
nul
wp_files
wp2_files

/.luarc.json

/.quarto/
inst/doc
inst/.DS_Store
.vscode
*.DS_Store

.DS_Store
.Rhistory
/inst/extdata/templates/graph/*_files/
/inst/extdata/templates/website/*_files/
/inst/extdata/templates/graph/*.html
/inst/extdata/templates/website/*.html
/work/_extensions
/work/www
work/test_gow*
