
/*-- scss:defaults --*/
  // fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
// Fonts (CSS rules)
//$font-family-sans-serif: 'Nunito Sans', sans-serif;
//$font-family-monospace: 'Roboto Mono', monospace;
//$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Code', monospace;

// couleurs
  $scpored: #e6142d;
  $scpodarkred: #770C19;
  $ofcered: #a22a2e;
  $darkgrey: #777;
  $lightgrey: #F8F8F8;
  $lightgrey2: #F1F1F1;
//$green: #079D10;
//$blue: $scpored;
  $navbar-hl: #e6142d;
  $navbar-bg: $lightgrey;
  $sidebar-hl: #e6142d;
  $white: #FFFFFF;
  $aligment: justify;
  $callout-color-tip: #DDD;
  //$link-color: $scpodarkred;

/*-- scss:rules --*/
  h1, h2, h3, h4, h5, h6,
.no-row-height.column-margin.column-container,
.quarto-table-caption.margin-caption,
.figure-caption.margin-caption {
  text-align: start;
  color: $darkgrey;
}

.navbar {
  background-color: $white;
  
}

main {
  margin-top: .25em;
  margin-bottom: .25em
}

#quarto-content>* {
padding-top: 0px
}

.quarto-title-block {
  background-color: $white;
  margin-left: -1px !important;
  padding-left: 12px !important;
  margin-right: 12px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  border-left-width: 0px !important;
 }

.quarto-title-banner {
  background-color: $white;
  
}

.sidebar {
  padding-top: 32px !important;
  background-color: $white;
}

.sidebar-item-container {
  font-size: 0.8rem !important;
  line-height: 1rem !important;
}

.navbar-title {
  font-style: italic;
  font-weight: bold;
}
  
.quarto-secondary-nav,
nav.quarto-secondary-nav,
.quarto-banner {
  color: white;
  background-color: transparent !important;
}

.breadcrumb-item,
.breadcrumb {
  font-size: 0.8rem !important;
}

.nav-page-text,
.dropdown-item {
  font-size: 0.8rem !important;
}

.page-columns .content p {
  text-align: justify !important;
}

.column-margin.column-container p {
  text-align: start !important;
}

@media (max-width:600px) {
  .page-columns .content p {
    text-align: start !important;
  }
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.leaflet-container {
  text-align: start !important;
}

tfoot.gt_sourcenotes,
tfoot.gt_footnotes {
  text-align: start;
  color: $darkgrey;
  font-size: .825rem;
}

.wp {
  font-size: 0.875em !important;
}

.quarto-title-meta-author,
.quarto-title-meta,
.keywords {
  font-size: 0.875rem !important;
}

.quarto-listing-default .quarto-post.image-right .body .listing-description {
  font-size: 0.825rem;
}

.abstract {
  font-size: 0.825rem !important;
}

.katex {
  font-size: 1em !important;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

h2,.h2 {
  border-bottom: 1px solid $scpored;
  padding-bottom: .5rem
}

.header-section-number {
  font-weight: bold;
}

.nav-link {
  font-size: .8rem;
}

.theorem {
  background-color: #EFEFEF;
    padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 3px;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: .8rem;
  background-clip: padding-box;
}

.panel-caption,
.figure-caption,
.subfigure-caption,
.table-caption,
figcaption.quarto-float-caption,
caption {
  color: $darkgrey !important;
  text-align: start !important;
  font-size: 1rem !important;
}

.csl-entry {
  text-align: start;
}

.table {
  font-size: 0.875rem !important;
  text-align: start;
}

.smtable {
  font-size: 0.75rem !important;
  text-align: start;
}

.dbtn-inline {
  font-size: .7rem;
  background-color: transparent;
  border: none;
  color: $link-color;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
  float: right;
}

#vcenter {
vertical-align: middle;
}

.size12 {
  font-size: 1.2rem;
}

.size1 {
  font-size: 1rem;
}


.size9 {
  font-size: 0.9rem;
}

.cell-code {
  font-size: 0.75em;
}

.onec {
  grid-template-columns: 1fr auto !important;
}

.details-box {
  //  background: #fcf0f0;
    //  border-top: $scpodarkred solid 1px;
  border-bottom: $scpored solid 1px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.cat-box .quarto-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: .5em;
  column-gap: .4em;
  padding-bottom: .5em;
  margin-top: .75em
}

.quarto-title .quarto-categories .quarto-category {
  padding: .25em .75em;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
  opacity: 1;
  border-color: $scpored !important;
  color: $scpored !important;
}

.listing-categories .listing-category {
  border-color: $scpored !important;
  color: $scpored !important;
}

.quarto-title-banner .quarto-title.column-body {
  background-color: #ffffff20;
    padding: 1em;
  backdrop-filter: blur(6px);
  border-radius: 16px;
}

.sidebar nav[role=doc-toc] ul>li>a.active,.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: none;
}

a {
  text-decoration: none;
}

.translate-btn {
  border: none;
  text-align: left;
  margin-top: 1em;
  color: inherit;
  font-size: 0.7rem;
  opacity: 0.8;
  vertical-align: top;
  text-transform: uppercase;
}

.quarto-listing-category.category-cloud .category-cloud-1 {
    font-size: .5em
}

.quarto-listing-category.category-cloud .category-cloud-2 {
    font-size: .7em
}

.quarto-listing-category.category-cloud .category-cloud-3 {
    font-size: .9em
}

.quarto-listing-category.category-cloud .category-cloud-4 {
    font-size: 1.1em
}

.quarto-listing-category.category-cloud .category-cloud-5 {
    font-size: 1.3em
}

.quarto-listing-category.category-cloud .category-cloud-6 {
    font-size: 1.5em
}

.quarto-listing-category.category-cloud .category-cloud-7 {
    font-size: 1.7em
}

.quarto-listing-category.category-cloud .category-cloud-8 {
    font-size: 1.9em
}

.quarto-listing-category.category-cloud .category-cloud-9 {
    font-size: 2.1em
}

.quarto-listing-category.category-cloud .category-cloud-10 {
    font-size: 2.3em
}

.quarto-listing-category.category-cloud .category.active {
  color: $scpored;
  font-weight: bold;
}

.quarto-listing-category.category-cloud {
  opacity: 0.6;
}

.quarto-listing-category.category-cloud .category:hover {
  color: $scpored;
  font-weight: bold;
}

.blockquote {
  color: var(--bs-body-color);
  background-color: rgba($scpodarkred, 0.05);
  font-size: 0.95rem;
  border-left-color: $scpored;
  border-left-width: 1px;
  line-height: 140%;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
}

.control-label {
  font-size: .8rem;
  text-align: start;
}

.quarto-figure-center>figure>div {
  text-align: left !important;
  font-size: .8rem !important;
  color: $darkgrey !important;
  line-height: 1rem !important;
  margin-bottom: 0px !important;
}

.quarto-figure-center>figure>div>p {
  margin-bottom: 0.2rem !important;
}

.figure.figure {
  margin-bottom: 0 !important;
}

.quarto-figure {
    position: relative;
    margin-bottom: Oem
}

.csl-entry {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

div.callout-tip {
  font-size: .8rem;
  border-radius: 0;
  background-clip: content-box;
  background-color: rgba($lightgrey, 0.5) !important;
  border-left-color: rgba($lightgrey, 0.5) !important;
}

div.callout-tip div.callout-header {
  background-color: rgba($lightgrey, 0.5) !important;
}

.dbtn {
  font-size: .7rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: $link-color;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 4px 8px 4px 8px;
}

.dbtn:hover {
  background-color: rgba($link-color, 0.95);
  color: white;
  border-color: $link-color;
  border-width: 1px;
  border-style: solid;
}

.control-label {
  font-size: .8rem;
  text-align: start;
}

.panel-tabset > .nav-tabs,
.panel-tabset > .tab-content {
    border: none;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0px;
    margin-bottom: 0.5em
}

.nav-pills .nav-link {
  border: none;
  padding-bottom: 0em;
  padding-top: 0.25em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    padding-bottom: 0em;
    padding-top: 0.25em;
    background-color: transparent;
    border: none;
    color: $link-color;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-decoration-color: $scpored;
}

.nav-pills .nav-link:hover {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: $lightgrey;
}

.nav-pills .nav-link.active:hover {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $scpored;
}