/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
// Fonts (CSS rules)
//$font-family-sans-serif: 'Nunito Sans', sans-serif;
//$font-family-monospace: 'Roboto Mono', monospace;
//$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Code', monospace;

// couleurs
$scpored: #e6142d;
$scpodarkred: #770C19;
$ofcered: #a22a2e;
$darkgrey: #777;
$lightgrey: #EEE;
$green: #079D10;
$blue: #000080;
$navbar-hl: #e6142d;
$navbar-bg: $lightgrey;
$sidebar-hl: #e6142d;
$white: #FFFFFF;
$aligment: left;
$callout-color-tip: #DDD;

/*-- scss:rules --*/
h1,
h2,
h3,
h4,
h5,
h6,
.no-row-height.column-margin.column-container,
.quarto-table-caption.margin-caption,
.figure-caption.margin-caption {
  text-align: start;
  color: $darkgrey;
}

.navbar {
  background-color: $white;

}

main {
  margin-top: .25em;
  margin-bottom: .25em
}

#quarto-content>* {
  padding-top: 0px
}

.quarto-title-block {
  background-color: $white;
  margin-left: -1px !important;
  padding-left: 12px !important;
  margin-right: 12px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  border-left-color: $scpored !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
}

.quarto-title-banner {
  background-color: $white;

}

.quarto-title-meta-author {
  background-color: $white;
}

.sidebar {
  padding-top: 32px !important;
  background-color: $white;
}

.sidebar-item-container {
  font-size: 0.8rem !important;
  line-height: 1rem !important;
}

.quarto-secondary-nav,
nav.quarto-secondary-nav,
.quarto-banner {
  color: white;
  background-color: transparent !important;
}

.breadcrumb-item,
.breadcrumb {
  font-size: 0.8rem !important;
}

.nav-page-text,
.dropdown-item {
  font-size: 0.8rem !important;
}

.page-columns.page-full,
.content,
.body {
  text-align: $aligment !important;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.leaflet-container {
  text-align: start !important;
}

tfoot.gt_sourcenotes,
tfoot.gt_footnotes {
  text-align: start;
  color: $darkgrey;
  font-size: .825rem;
}

.wp {
  font-size: 0.875em !important;
}

.quarto-title-meta-author,
.quarto-title-meta,
.keywords {
  font-size: 0.875rem !important;
}

.abstract {
  font-size: 0.825rem !important;
}

.katex {
  font-size: 1.1em !important;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

.header-section-number {
  font-weight: bold;
}

.nav-link {
  font-size: .8rem;
}

.theorem {
  background-color: #EFEFEF;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 3px;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: .8rem;
  background-clip: padding-box;
}

.panel-caption,
.figure-caption,
.subfigure-caption,
.table-caption,
figcaption.quarto-float-caption,
caption {
  color: $darkgrey !important;
  text-align: start !important;
  font-size: 1rem !important;
}

.csl-entry {
  text-align: start;
}

.table {
  font-size: 0.875rem !important;
  text-align: start;
}

.smtable {
  font-size: 0.75rem !important;
  text-align: start;
}

blockquote {
  color: var(--bs-body-color);
  font-size: 1rem;
  border-left-color: $scpored;
  border-left-width: 2px;
  line-height: 160%;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 16px;
  margin-top: 16px;
}

div.callout-tip {
  font-size: .8rem;
  border-radius: 0;
  background-clip: content-box;
  background-color: $lightgrey !important;
  border-left-color: $lightgrey !important;
}

div.callout-tip div.callout-header {
  background-color: $lightgrey !important;
}

.dbtn {
  font-size: .7rem;
  background-color: transparent;
  border: none;
  color: $link-color;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.dbtn-inline {
  font-size: .7rem;
  background-color: transparent;
  border: none;
  color: $link-color;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
  float: right;
}

.control-label {
  font-size: .8rem;
  text-align: start;
}

.tab-content {
  border-style: none;
  padding: 0;
}

.quarto-figure {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.callout.callout-titled .callout-body>:last-child:not(.sourceCode),
.callout.callout-titled .callout-body>div>:last-child:not(.sourceCode) {
  padding-bottom: 0;
  margin-bottom: 0
}
